# `list`ing all the things I like about Python
The `list` data type.

![Gaming gif](https://media.giphy.com/media/MJ4Qi9dSACpLG/giphy.gif)

---
# Notes

## Revisit Datatypes
Name                  | Data Type | Example
--------------------  | --------- | -------
Integer               | `int`     | 7
Floating-point number | `float`   | 3.5
Boolean               | `bool`    | True or False (1 or 0)
String                | `str`     | "Mr. Ubial is cool."

In [4]:
# Use the type function to find out the types of things
type("This is a string")

str

## The `list` datatype

`lists` are types of data that have square brackets around them

You can store different types of data inside.

## Important Facts about Lists
1. Lists are **ordered**
2. You can put **different** data types inside lists
3. You can also create lists on-the-fly

In [10]:
some_list = [1, 2, 3, 4, 5, 6, 7]
type(some_list)

list

In [1]:
# index 0th       1st              2nd      3rd
elements = ["helium", "rutherfordium", "neon", "sodium"]
elements[3]
# we can access things inside the list with INDICES

'sodium'

In [16]:
other_list = ("Hydrogen", "Helium", "Sodium", "Potassium")
other_list[0]
type(other_list) # THIS IS A TUPLE

tuple

In [2]:
# Tuples are immutable
SCREEN_DIMENSIONS = (2560, 1440)
SCREEN_DIMENSIONS[1] = 2160

TypeError: 'tuple' object does not support item assignment

**`lists`** and **`tuples`** are datatypes that can contain   
more than one value.

The main difference between `lists` and  
`tuples` are that `lists` are **mutable**.

**Mutability** is a property that describes  
whether or not you can change a value.

In [18]:
number_list = [10, 20, 25]
print(number_list[2])  # 25
number_list[2] = 30
print(number_list[2])  # CHANGED TO 35

25
30

In [20]:
rgb = (255, 255, 255)
print(rgb[0])          # 255
rgb[0] = 0             # this will BREAK

255

TypeError: 'tuple' object does not support item assignment

## Iterating over `lists`
It's really useful to loop through items  
inside lists. You can do that using  
a specific type of `for` loop.

`for` _individual element_ `in` _list_:

In [3]:
grocery_list = [
    "chips",
    "ice cream",
    "shallots",
    "sugary cereal",
    "hot wheels",
    "shampoo",
]
# for each item in the list write out
# You're going to need before the item
for item in grocery_list:
    print(f"You're going to need {item}.")
    print("-------")

You're going to need chips.
-------
You're going to need ice cream.
-------
You're going to need shallots.
-------
You're going to need sugary cereal.
-------
You're going to need hot wheels.
-------
You're going to need shampoo.
-------

In [23]:
# Calculate the age of a person
age_list = [16, 17, 16, 17, 17, 17, 16, 16, 16]
total = 0

for age in age_list:
    total += age

print(total)
print(f"Average age = {total/len(age_list)}")

148
Average age = 16.444444444444443

In [4]:
age_list = [16, 17, 16, 17, 17, 17, 16, 16, 16]

print(sum(age_list)/len(age_list))

16.444444444444443

## Two-Dimensional `list`s

In [27]:
student_list = [
    [100001, "John Schmetterling"],
    [100002, "Donald J. Trumper"],
    [100003, "Joseph Biden"],
    [100004, "Sanic"]
]

student_list[3][1] # how to access values

for student in student_list:
    print(f"Name: {student[1]}")
    print(f"Student Number: {student[0]}")
    print("--------")

Name: John Schmetterling
Student Number: 100001
--------
Name: Donald J. Trumper
Student Number: 100002
--------
Name: Joseph Biden
Student Number: 100003
--------
Name: Sanic
Student Number: 100004
--------

## `len()` function
`len()` returns the length of a list

i.e. it tells you how **BIG** the list is

In [1]:
len([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])

12

In [4]:
# ADVANCED concept
# create (initialize) a list of 100 0s
zero_list = [0] * 100
zero_list

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

## Aside: List Comprehensions (__Advanced__)

If you want to create a for loop in one line, you can use a list comprehension.

In [34]:
string_list = ["googely moogely" for i in range(100)]
len(string_list)

100

In [6]:
# list ascending from 1 to 100
# ----- Version 1
ascending_list = [2**(i+1) for i in range(100)]
ascending_list

# ----- Version 2
ascending_list_two = []

for i in range(100):
    ascending_list_two.append(i+1)
# ascending_list_two

## `sum()` function

In [49]:
# sum() takes a list and (if it contains numbers) adds them all up
sum([1, 2, 3, 4, 5, 6])
sum([i+1 for i in range(100)]) # add all numbers from 1-100

5050

## `enumerate()` function

In [12]:
some_list = ["dog", "cat", "rat", "bat"]
enumerate(some_list)

# Replace all "cat"s with "coyote"s
print(f"BEFORE: {some_list}")

# THIS WON'T WORK
# for item in some_list:
#     if item == "cat":
#         item = "coyote"

for idx, item in enumerate(some_list):
    if item == "cat":
        some_list[idx] = "coyote"

print(f"AFTER: {some_list}")

for idx, item in enumerate(some_list):
    print(f"Index: {idx}; Value: {item}")

BEFORE: ['dog', 'cat', 'rat', 'bat']
AFTER: ['dog', 'coyote', 'rat', 'bat']
Index: 0; Value: dog
Index: 1; Value: coyote
Index: 2; Value: rat
Index: 3; Value: bat

## Adding to a `list`
This is the best way to add to a list.  
Use the `.append()` method.

In [ ]:
student_list = [
    [0, "Mr. Ubial"],
    [1, "Peter Parker"]
]

print(student_list[-1])
student_list.append([2, "Otto Octavius"])
print(student_list[-1])

## Deleting from a `list`
Use the `.pop()` function.

`.pop()` returns the value of the item in the list.

In [60]:
student_list = [
    [0, "Mr. Ubial"],
    [1, "Peter Parker"],
    [2, "Otto Octavius"]
]

student_list.pop(2)

[2, 'Otto Octavius']

## `str`s are just `list`s of characters

In [62]:
my_name = "Tim"
print(my_name[0])

for char in my_name:
    print(char, end=" ")

T
T i m

## Slices of `list`s and `str`s

In [64]:
number_string = "123456789"

# last element (character) in number_string
number_string[-1]

'9'

In [66]:
number_string = "1234564789"

# slice the string
# [start:stop:step]

print(number_string[4:])    # characters starting at index 4 to the end
print(number_string[:4])    # characters starting at beginning ending at 4 (exclusive)

564789
1234

In [67]:
number_string = "123456789"

print(number_string[::2])   # every second element starting at 1

13579

# Exercises

## Comma Code

From [Automate the Boring Stuff](https://automatetheboringstuff.com)

Say you have a list value like this:

`spam = ['apples', 'bananas', 'tofu', 'cats']`

Write a function that takes a list value as an argument and returns a string with all the items separated by a comma and a space, with `and` inserted before the last item. For example, passing the previous spam list to the function would return 'apples, bananas, tofu, and cats'. But your function should be able to work with any list value passed to it. Be sure to test the case where an empty list `[]` is passed to your function.

In [71]:
spam = ["apples", "bananas", "tofu", "cats"]

output_string = ""

for idx, item in enumerate(spam):
    if idx == len(spam)-1:
        output_string += "and " + item
    else:
        output_string += item + ", "

print(output_string)



# should output 
# "apples, bananas, tofu, and cats"
# to start, try just outputting
# "apples, bananas, tofu, cats"

apples, bananas, tofu, and cats

## Months

Print the three month abbreviation for the  
month number that the user enters.

In [ ]:
# 1 -> Jan (using the list above)
# 12 -> Dec

# extending -> everything works and catch for any month_num that don't exist
def month_abbrev(month_num):
    months = "JanFebMarAprMayJunJulAugSepOctNovDec"

    # fill in the body of the function

month_abbrev(10) # Nov